.menu {
  width: 100%;
  display: table;
}

.menu ul {
  display: table-row;
}

.menu li {
  display: table-cell;
  position: relative;
}

/* .menu-caret:after{
  display: inline-block;
  width: 0;
  height: 0;

} */

#info {
  display: none;
}
